@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-tia-maria-50: #fcf6f0;
  --color-tia-maria-100: #f9e9db;
  --color-tia-maria-200: #f2d1b6;
  --color-tia-maria-300: #eab187;
  --color-tia-maria-400: #e08957;
  --color-tia-maria-500: #d96b36;
  --color-tia-maria-600: #c7522a;
  --color-tia-maria-700: #a94025;
  --color-tia-maria-800: #873425;
  --color-tia-maria-900: #6d2d21;
  --color-tia-maria-950: #3b150f;

  --text-h1: var(--text-3xl);
  --text-h1--font-weight: 700;
  --text-h2: var(--text-2xl);
  --text-h2--font-weight: 700;
  --text-h3: var(--text-xl);
  --text-h3--font-weight: 700;
}

:root {
  background: var(--color-tia-maria-50);
  color: var(--color-tia-maria-950);
}

.dark {
  background: var(--color-tia-maria-950);
  color: var(--color-tia-maria-50);
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
